<form [formGroup]='loginForm' (submit)='processLogin()' class='atm-login'>
    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
            placeholder="Ex. pat@example.com">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <h3 class='page-header'>Welcome to BenderCO's ATM</h3>
    <div class='login-processing' *ngIf='!!currentUser'>Processing</div>
    <div class='login-fail' *ngIf='!!currentUser'>Invalid Username/Password Combination
    </div>
    <div class='input-group mb-3 row'>
        <input type='email' formControlName='userName' class='form-control' placeholder='User Name'
            aria-label='User Name'>
    </div>
    <div class='input-group mb-3 row'>
        <input show-hide-input type='password' formControlName='password' class='form-control' placeholder='Password'
            aria-label='Password'>
    </div>
    <div class='input-group mb-3 row'>
        <label for='showPassword' class='col-11'>
            Show Password
        </label>
        <input type='checkbox' (click)='toggleShow()' [value]='show' id='showPassword' class='col-1'>
    </div>
    <div class='row'>
        <div class='col text-center'>
            <button class='btn btn-primary' type='submit' [disabled]='!loginForm.valid'>Login</button>
        </div>
    </div>
</form>
